div {
  height: 300px;
  color: white;
  border: 2px solid red;
}

.big-img {
  background: url("../Images/big_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
}
.small-img {
  background: url("../Images/small_image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  background-position: right;
  background-position: bottom;
  background-position: top;
  background-position: 100% 100%;
}
.folder-img {
  background: url("../Images/folder/gasmask_image.jpg");
  background-size: contain;
}